
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 0px solid #f9f9f9;

    }
    .logo{
        object-fit: contain;
        height: 50px;
      
    }
    .header__icon{
        font-size: xx-large;
        padding: 30px;
      
    }
    